@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
}

.cabecalho{
    background-color: black;
    text-align: center;
    height: 90px;
    padding: 10px;
}

.logo{
    width: 250px;
}

.butao{
    color: rgb(194, 194, 194);
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    text-align: center;
    font-size: 23px;
}

.subtitulo{
    text-align:center ;
    padding: 0px 15px 15px 15px;
    font-size: 15px;
}

.corpo{
    display: flex;
    gap: 10px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.materias{
    height: 350px;
    width: 260px;
    border-radius: 10px;
}

.fotos{
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.esportes{
    font-family: 'Oswald';
    padding: 4px;
}

.texto{
    padding: 4px;
    text-align: justify;
}

.asid{
    display: block;
    width: 270px;
    gap: 15px;
    background-color: rgb(80, 80, 80);
}

.imagens{
    width: 80%;
    margin: 10%;
    border-radius: 10px;
}

.textolateral{
    font-family: 'Roboto';
    color: white;
    text-align: center;
    padding: 15px;
}

.esporteslaterais{
    font-family: 'Roboto';
    color: white;
    text-align: center;
    padding: 15px;
}

.foote{
    background-color: black;
    text-align: center;
    height: 90px;
    padding: 10px;
}

.logofoote{
    width: 150px;
}

.textofoote{
    font-family: 'Roboto';
    color:rgb(194, 194, 194);
    font-size: 20px;
    text-decoration: none;
}


@media(min-width:630px){
    .cabecalho{
        justify-content: space-between;
        display: flex;
    }

    .logo{
        width: 300px;
    }

    .butao{
        font-size: 17px;
        padding: 10px;
    }

    h1{
        font-size: 30px;
        padding-top: 20px;
    }

    .subtitulo{
        font-size: 18px;
    }
}
    