*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.cabecalho{
    background-color: black;
    text-align: center;
    height: 65px;
    padding: 10px;
}

.logo{
    width: 150px;
}

.butao{
    color: rgb(194, 194, 194);
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 11px;
}

@media(min-width:630px){
    .cabecalho{
        justify-content: space-between;
        display: flex;
    }

    .logo{
        width: 200px;
    }

    .butao{
        font-size: 14px;
        padding: 5px;
        
    }
}
    