@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100%;
}

.cabecalho{
    background-color: black;
    text-align: center;
    height: 90px;
    padding: 10px;
}

.logo{
    width: 250px;
}

.butao{
    color: rgb(194, 194, 194);
    background-color: transparent;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    font-size: 15px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 13px;
    text-align: center;
    font-size: 23px;
}

.subtitulo{
    text-align:center ;
    padding: 0px 15px 15px 15px;
    font-size: 15px;
}

.corpo{
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
}

.materias{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.fotos{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.titulo{
    text-align: justify;
    padding: 0px 5px;
    font-weight: bold;
    font-family: 'Oswald';
}

.texto{
    text-align: justify;
    padding: 0px 5px;
}

.lateral{
    width: 100%; 
    height: 100%;  
    float: ;
    background-color: rgb(77, 77, 77);
    background-size: 100%;
}

.asid{
    width: 80%;
    height: 130px;
    border-radius: 10px;
    
}


@media(min-width:630px){
    .cabecalho{
        justify-content: space-between;
        display: flex;
    }

    .logo{
        width: 300px;
    }

    .butao{
        font-size: 17px;
        padding: 10px;
    }

    h1{
        font-size: 30px;
        padding-top: 20px;
    }

    .subtitulo{
        font-size: 18px;
    }
}
    